.station-card {
  background-color: white;
  border: none;
  border-radius: 16px;
  max-width: 520px;
  width: 100%;
  height: 70vh;
  margin: auto;
}

.station-card .card-body {
  padding: 3rem 2rem;
}

.station-button {
  background-color: var(--color-primary) !important;
  border: none !important;
  border-radius: 12px !important;
  min-width: 220px !important;
  padding: 12px 20px !important;
  font-size: clamp(0.9rem, 1.2vw, 1.2rem) !important;
}

.station-button-active {
  background-color: var(--color-secondary) !important;
  color: var(--color-primary)!important;
  border: none !important;
  border-radius: 12px !important;
  min-width: 220px !important;
  padding: 12px 20px !important;
  font-size: clamp(0.9rem, 1.2vw, 1.2rem) !important;
}

.station-card .station-stack {
    height: 95%;
    overflow-y: scroll;
}