.sign-up-card {
  background-color: var(--color-card-background);
  border-radius: 16px;
}

.sign-up-card-title {
  text-align: center;
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.textfield-label {
  font-size: var(--font-size-xs);
  font-weight: 600;
}

.textfield-placeholder {
  font-size: var(--font-size-sm);
  color: var(--color-icon);
}


.custom-input-group {
  border-color: var(--color-border);
  border-radius: 8px;
  height: 50px;
}

.custom-input-group .custom-input-icon {
  background-color: white;
  color: var(--color-icon);
  border-right: none;
}

.custom-input-group .password-visible-icon {
  background-color: white;
  color: var(--color-icon);
  border-left: none;
}

.custom-input-group .custom-input-email {
  border-left: none;
}

.custom-input-group .custom-input {
  border-left: none;
  border-right: none;
}

.custom-input-group .custom-input-email:focus {
  box-shadow: none;
}

.custom-input-group .custom-input:focus {
  box-shadow: none;
}
.custom-input-group:focus-within .password-visible-icon,
.custom-input-group:focus-within .custom-input-icon,
.custom-input-group:focus-within .custom-input,
.custom-input-group:focus-within .custom-input-email {
  border-color: var(--color-primary);
}


.btn-custom {
  background-color: var(--color-primary) !important;
  border: none !important;
  color: white !important;
  border-radius: 12px !important;
  height: 52px !important;
}

.btn-custom:hover {
  background-color: var(--color-primary);
}


.sign-up-label {
  font-size: var(--font-size-xs);
  text-align: center;
}



.validation-error{
  background-color: red;
  color: white;
  border-radius: 8px;
}